*{
padding: 0px;
margin: 0px;
}
body{
background-image: url("imagendelmar.jpg");
background-repeat: no-repeat;
}
.contenedor{
height: 230px;
}
.texto{
font-size: 40px;
text-align: justify;
color: black; 
}
.contenido{
height: 48px;
width: 100%;
position: absolute;
top: 410px;
}
.imagentecno{
background-repeat: no-repeat;
float:left;
height: 280px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("robotyhumano.jpeg");
}
.textotecno{
text-align: justify;
color: black;
font-size: 20px;
}
.imagenmate{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("Algebra.jpg");
}
.textomate{
text-align: justify;
color: black;
font-size: 20px;
} 
.imagenreli{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("hinduismo-desde-la-antropologia.jpg")
}
.textoreli{
text-align: justify;
color: black;
font-size: 20px;
}
.imagensoci{
    background-repeat: no-repeat;
    float:left;
    height: 200px;
    width: 260px;
    margin-left: 5px;
    margin-right:5px;
    background-image: url("")
    }
    .textosoci{
    text-align: justify;
    color: black;
    font-size: 20px;
    } 

