*{
padding: 0px;
margin: 0px;
}
body{
background-image: url("FONDOazulclaro.jpg");
background-repeat: no-repeat;
}
.contenedor{
height: 230px;
}
.texto{
font-size: 40px;
text-align: justify;
color: black; 
}
.contenido{
height: 48px;
width: 100%;
position: absolute;
top: 300px;
}
.imagentecno{
background-repeat: no-repeat;
float:left;
height: 280px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("imagentecno1.jpeg");
}
.imagentecno2{
background-repeat: no-repeat;
float:left;
height: 280px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("imagentecno2.jpeg");
}
.textotecno{
text-align: justify;
color: black;
font-size: 25px;
}
.imagenmate{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("Algebra.jpg");
}
.textomate{
text-align: justify;
color: black;
font-size: 25px;
} 
.imagenreli{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("hinduismo-desde-la-antropologia.jpg")
}
.textoreli{
text-align: justify;
color: black;
font-size: 25px;
}
.imagensoci{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("WhatsApp\ Image\ 2023-07-29\ at\ 18.05.25.jpeg")
}
.textosoci{
text-align: justify;
color: black;
font-size: 25px;
} 
.textobio{
text-align: justify;
color: black;
font-size: 25px;
} 
.textoin{
text-align: justify;
color: black;
font-size: 25px;
} 





