*{
padding: 0px;
margin: 0px;
}

ul, ol{
list-style: none;
}

.botones li a{
background-color: yellow;
color: blue;
text-decoration: none;
padding: 10px 10px;
display: block;
}

.menu{
margin: auto;
width: 800px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
.botones > li{
float: left ;
}
    
.menu li:hover > ul{
display: block;
}
    
.botones li a:hover {
background-color: lightgreen;
}
    
.menu li ul{
position: absolute;
min-width: 140px;
display: none;
}
h1, h2, h3 {
background-image: url("Trees-road-sunshine-fields_1920x1200.jpg");
}