.contenedor{
    width: 100%;
    height: 1400px;
    background-color: lavender
}
.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(181, 194, 255);
    text-align: center;
    font-size: 35px;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 180, 226);
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.contenedor2{
    width: 100%;
    height: 1200px;
    background-color: rgb(255, 203, 229);
    display: flex;
}
.derecha{
    width: 20%;
    height: 1200px;
    background-color:  rgb(255, 203, 229);
}
.centro{
    width: 60%;
    height: 1200px;
    background-color: rgb(225, 167, 252);
}
.izquierda{
    width: 20%;
    height: 1200px;
    background-color: lightpink;
}
.Tecnología {
    width: 120px;
    height: 78px;
    background-color: beige;
    margin: 2px;
}
.Matemáticas{
    width: 120px;
    height: 78px;
    background-color: beige;
    margin: 2px;
}
.Sociales{
    width: 120px;
    height: 78px;
    background-color: beige;
    margin: 2px;
}
.Inglés{
    width: 120px;
    height: 78px;
    background-color: beige;
    margin: 2px;
}
.Biología{
    width: 120px;
    height: 78px;
    background-color: beige;
    margin: 2px;
}
