    .contenedor{
    width: 100%;
    height: 1400px;
    background-color: wheat;
    }
    .encabezado{
    width: 100%;
    height: 200px;
    background-color: lightpink;
    text-align: center;
    font-size: 30px;
    }
    .menu{
    width:100%;
    height: 80px;
    background-color: deepskyblue;
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    }
    .contenedor2{
        width: 100%;
        height: 1200px;
        background-color: cyan;
        display: flex;
    } 
      .izqquierda{
        width: 20%;
        height: 1200px;
        background-color: aquamarine;
    }
    .centro{
        width: 60%;
        height: 1200px;
        background-color: plum;
    }
    .derecha{
    width: 20%;
    height: 1200px;
    background-color: mediumorchid;
    }
    .Tecnología {
        width: 120px;
        height: 78px;
        background-color: lavender;
        margin: 2px;
    }
    .Matemáticas{ 
        width: 120px;
        height: 78px;
        background-color: lavender;
        margin: 2px;
    }
    .Sociales{
        width: 120px;
        height: 78px;
        background-color: lavender;
        margin: 2px;
    }
     .Inglés{
        width: 120px;
        height: 78px;
        background-color: lavender;
        margin: 2px;
    }
    .Biología{ 
        width: 120px;
        height: 78px;
        background-color: lavender;
        margin: 2px;
    }